* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 90%;
  /* 960px */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.grid-1 {
  width: 6.866%;
}

.grid-2 {
  width: 15.33%;
}

.grid-3 {
  width: 23.8%;
}

.grid-4 {
  width: 32.26%;
}

.grid-5 {
  width: 40.73%;
}

.grid-6 {
  width: 49.2%;
}

.grid-7 {
  width: 57.66%;
}

.grid-8 {
  width: 66.13%;
}

.grid-9 {
  width: 74.6%;
}

.grid-10 {
  width: 83.06%;
}

.grid-11 {
  width: 91.53;
}

.grid-12 {
  width: 100%;
}

/*Clearfix*/
.clearfix:before,
.clearfix:after,
.row:before,
.row:after,
.container:before,
.container:after {
  display: table;
  content: " ";
}

.clearfix:after,
.row:after,
.container:after {
  clear: both;
}
